:root {
    --larguraElemento: calc((120px *3) + 20px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 6px 8px 0 6px #666, 
    10px 10px 10px #000;
}

@keyframes botaoAtivo {
    0% {
        background-color: #fff;
        box-shadow: 3px 3px 0 #aaa;
    }
    50% {
        background-color: #e93d50;
        box-shadow: 3px 3px 0 #aaa inset;
    }
    100% {
        background-color: #fff;
        color: #e93d50;
        box-shadow: 3px 3px 0 #aaa;
    }
}

.tecla {
    background-color: #fff;
    border-radius: 30px;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;

    cursor: pointer;
    color: #e93d50;
    font-weight: bold;
    font-size: 1.75em;

    box-shadow: 3px 3px 0 #aaa;
}


.tecla:focus, .ativa {
    background-color: #e93d50;
    color: #fff;
    outline: none;
    animation: botaoAtivo 1s forwards;
}
